* {
    box-sizing: border-box;
}
#container {
    border: 1px solid black;
    width: 800px;
    height: 800px;
}
#reset {
    margin-bottom: 50px;
    margin-left: 337px;
    margin-top: 50px;
}
.square {
    border: 1px dotted black;
}
.flexbox {
    display: flex;
}

