* {
    box-sizing: border-box;
}
#container {
    border: 1px solid black;
    width: 800px;
    height: 800px;
}
.square {
    width: 50px;
    height: 50px;
    border: 1px dotted black;
}
.flexbox {
    display: flex;
}

